body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #eae8e4;
}

header {
    --header-max-h: 480px;
    max-height: var(--header-max-h);
}

.dark-section {
    background-color: #2d2d2d;
}

.content-section {
    background-color: #fcfcfd;
}

#banner-img {
    max-height: calc(var(--header-max-h));
    height: auto;
    width: auto;
    object-fit: contain;
    margin-left: -35px;
}

#section-2 {
    --section2-row-h: 700px;
}

#section-2 .section2-col {
    display: flex;
    flex-direction: column;
    min-height: var(--section2-row-h);
}

#section-2 .section2-col img {
    flex: 1 1 0;
}

#app-container {
    background-color: #3c0c60;
}

.pill-container {
    background-color: #dfdcd5;
    border: 1px solid;
    border-color: #7d26c9;
    color: #7d26c9;
}

.custom-button {
    background-color: #dfbbfe;
    color: #2d2d2d;
    border: none;
}

.custom-button:hover, .custom-button:focus, .custom-button:active, .custom-button:active:focus {
    background-color: #c998e6;
    /* box-shadow: none; */
}

#forms-section {
    background-color: #eae8e4;
}

#validation-cell {
    background-color: #dfdcd5;
}

.num {
    color: #7D26C9;
}

.icon {
    color: #eae8e4;
    font-size: 2em;
}

#footer-hline {
    background-color: #dfbbfe;
    border-color: #dfbbfe;
}

.btn {
    border: none;
}

@media (min-width: 768px) {
    header {
        --header-max-h: 380px;
    }

    #banner-img {
        margin-left: 0;
    }

    #section-2 {
        --section2-row-h: 700px;
    }
}