body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
    height: auto;
    max-height: 380px;
}

#banner-img {
    max-height: 480px;
    margin-left: -35px;
}

/* When window is resized */ 
@media (min-width: 768px) {
    #banner-img {
        max-height: 300px;
        margin-left: 0;
    }
}